body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  margin-top: 100px;
  border-radius: 1em;
  width: 650px;
  height: 400px;
  background-color: rgb(42, 41, 92);
  color: white;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.flexColumnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}


.checkboxContainer {
  width: 650px;
  height: 75px;
  
}

.btnSubmit {
  padding: 0.5em 1em;
  border-radius: 1em;
  border: none;
  color: white;
  background-color: rgb(44, 81, 184);
}

.info {
  padding: 1em;
  background-color: rgb(44, 81, 184);
  clip-path: circle(1em);
}

.bubble {
   padding: 1.5em;
  background-color: rgb(44, 81, 184);
  clip-path: circle(1.5em);
}
