.background {
  display: flex;
  background-color: rgb(36, 111, 129);
  height: 15vh;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.backhead {
  font-weight: bold;
  gap: 2em;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

h1 {
  width: 30%;
}

img {
  align-self: flex-start;
  width: 2em;
}
