
p {
    color: rgb(17, 17, 231);
  }
  
  .para2 {
    color: rgb(223, 14, 14);font-weight: bold;
  }
  #para3 {
    color: rgb(21, 218, 21);
    font-style: italic;text-decoration: underline;
  }
  div {
    background-color: rgba(214, 209, 209, 0.705);
    
  }
  .para4 {
    color:blue;font-style: italic;margin-left: 10px;
  }
  .para5 {
    color:rgb(247, 15, 15);font-style: italic;font-weight: bold;margin-left: 10px;
  }
 