body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "head head head"
    "nav main sidebar"
    "foot foot foot";
  grid-template-rows: 100px 1fr 150px;
  grid-template-columns: 1.2fr 6fr 1.8fr;
}

.blocklogo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.logo {
  align-self: flex-start;
  height: 100%;
}

.head {
  grid-area: head;
  padding: 1em 1em;
  background-color: #2c3d50;

  color: azure;
}

.navi {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: #c2dceb;

  color: rgb(0, 0, 0);
  line-height: 1em;
  padding: 0.5em 1em;
}

.navi ul {
  padding: 0;
}

.styl {
  color: rgb(0, 0, 0);
  text-align: left;
  border: solid 1em #c2dceb;
  border-radius: 1em;
  list-style: none;
}

.styl:hover {
  border-radius: 1em;
  border: solid 1em #39d39b;
  color: azure;
  background-color: #39d39b;
}

.main {
  grid-area: main;
  padding-top: 1em;
  margin: 0 6em;
  line-height: 1.5em;

  text-align: left;
}

.tablegrid {
  display: grid;
  grid-template-areas:
    "box1 box2"
    "boxfoot boxfoot";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.boxfoot {
  grid-area: boxfoot;
}

.styl2 {
  text-align: center;
  border-radius: 0.5em;
  border: #39d39b;
  background-color: #39d39b;
  color: azure;
  padding: 0 0.5em;
}

.styl2:hover {
  border-radius: 0.5em;

  color: azure;
  background-color: #32916e;
}

.button1 {
  display: flex;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #01a2f92c;
}

.foot {
  grid-area: foot;
  background-color: #2c3d50;
}
