body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "head head head"
    "nav main sidebar"
    "foot foot foot";
  grid-template-rows: 0.25fr 4fr 0.75fr;
  grid-template-columns: 1fr 6fr 1fr;
}

.blocklogo {
  display: flex;
  align-items: center;

  gap: 1em;
}

.logo {
  width: 4em;
  height: 4em;
  align-self: flex-start;
}

.head {
  grid-area: head;
  padding: 1em 1em;
  background-color: #2c3d50;
  color: azure;
}

.navi {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: #c2dceb;
  color: rgb(0, 0, 0);
  line-height: 1em;
  padding: 0.5em 1em;
}

.navi1 {
  padding: 0;
}

.styl {
  color: rgb(0, 0, 0);
  text-align: left;
  border: solid 1em #c2dceb;
  border-radius: 1em;
  list-style: none;
}

.styl:hover {
  border-radius: 1em;
  border: solid 1em #39d39b;
  color: azure;
  background-color: #39d39b;
}

.main {
  grid-area: main;
  padding-top: 1em;
  margin: 0 6em;
  line-height: 1.5em;
  text-align: left;
}

.tablegrid {
  display: grid;
  grid-template-areas:
    "box1 box2"
    "boxfoot boxfoot";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

h2,
h3 {
  padding-bottom: 0.5em;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.boxfoot {
  grid-area: boxfoot;
  padding-top: 0.5em;
}

.styl2 {
  text-align: center;
  border-radius: 0.5em;
  border: #39d39b;
  background-color: #39d39b;
  color: azure;
  padding: 0.5em;
  margin: 0.5em 0;
}

.styl2:hover {
  border-radius: 0.5em;
  color: azure;
  background-color: #32916e;
}

.button1 {
  display: flex;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #c2dceb;
  padding: 0.5em 1em;
  line-height: 1.5em;
  text-align: left;
}

.boxbar {
  padding: 0.5em 0.5em;
  border-radius: 0.25em;
  box-shadow: 0px 2.5px 0px 0px #2c3d502a;
}

.input1 {
  width: 100%;
}

.styl3 {
  text-align: left;
  width: 100%;
  border-radius: 0.5em;
  border: #39d39b;
  background-color: #39d39b;
  color: azure;
  padding: 0.5em;
  margin: 0.5em 0;
}

.styl3:hover {
  border-radius: 0.5em;
  color: azure;
  background-color: #32916e;
}

.flextag {
  padding: 1em 0;
  line-height: 2em;
}

.tagref {
  border: 1px black solid;
  padding: 0.25em;
  background-color: azure;
  border-radius: 0.25em;
}

.tagref:hover {
  background-color: rgb(206, 204, 204);
}

.foot {
  grid-area: foot;
  background-color: #2c3d50;
  color: rgb(145, 140, 140);
}

h4 {
  color: azure;
}

.imgfoot {
  width: 2em;
  height: 2em;
}

.gridfooter {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(2 1fr);
  box-shadow: 0px 2.5px 0px 0px #b6b7b82a;
  gap: 0.5em;
  padding: 0.5em 0.5em;
}

.place1 {
  align-items: center;
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
}

.place2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.place3 {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

.navfoot {
  padding: 0;
  list-style: none;
}

.place4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.place5 {
  display: flex;
  align-items: center;
  grid-column: 3/4;
  grid-row: 1/2;
}

.place6 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.place7 {
  display: flex;
  align-items: center;
  grid-column: 4/5;
  grid-row: 1/2;
}

.place8 {
  display: flex;
  gap: 1em;
  grid-column: 4/5;
  grid-row: 2/3;
}

.boxshadow {
  box-shadow: 0px 2.5px 0px 0px #b6b7b82a;
}

.footend {
  text-align: center;
  padding: 1em;
}

@media screen and (min-width: 580px) and (max-width: 920px) {
  .grid {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      "head head"
      "nav nav"
      "main sidebar"
      "foot foot";
    grid-template-rows: 0.25fr 0.25fr 3fr 0.75fr;
    grid-template-columns: 5fr 1fr;
  }

  .navi1 {
    grid-area: nav;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #c2dceb;
    color: rgb(0, 0, 0);
    line-height: 1em;
    padding: 0.5em 1em;
  }

  .main {
    grid-area: main;
    margin: 0 0.5em;
    padding-top: 1em;
    line-height: 1.5em;
    text-align: left;
  }

  .tablegrid {
    display: grid;
    grid-template-areas:
      "box1"
      "box2"
      "boxfoot";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .navfoot {
    list-style: none;
    padding: 0;
  }

  .place8 {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    grid-column: 4/5;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 580px) {
  .grid {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      "head"
      "nav"
      "main"
      "sidebar"
      "foot";
    grid-template-rows: 0.25fr 0.25fr 2fr 1fr 1.5fr;
    grid-template-columns: 1fr;
  }

  .navi1 {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: #c2dceb;
    color: rgb(0, 0, 0);
    line-height: 1em;
    padding: 0;
  }

  .main {
    grid-area: main;
    margin: 0 0.5em;
    padding-top: 1em;
    line-height: 1.5em;
    text-align: left;
  }

  .tablegrid {
    display: grid;
    grid-template-areas:
      "box1"
      "box2"
      "boxfoot";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .gridfooter {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2.5px 0px 0px #b6b7b82a;
    gap: 0.5em;
    padding: 0.5em 0.5em;
    line-height: 2em;
  }

  .navfoot {
    padding: 0;
  }

  .place8 {
    padding-bottom: 1em;
  }
}
