body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  padding: 1em;
}

.box {
  display: flex;
  justify-content: space-evenly;
}

/**GESTION DES BOUTONS */

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  color: blueviolet;
}

.btn-secondary {
  background-color: lime;
  color: coral;
}

.btn-danger {
  background-color: aqua;
  color: blue;
}

/* button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 24px; 0.75em 1.5em
  font-size: 16px;
} */

p {
  padding-top: 5em;
  text-align: center;
  font-style: italic;
  color: gray;
}

.btnone {
  background-color: pink;
  color: blueviolet;
}

.btnone:hover {
  background-color: blueviolet;
  transform: translateY(-1em);
  transition: 0.7s;
  color: pink;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btntwo {
  font-size: 18px;
  background-color: lime;
  color: coral;
}

.btntwo:hover {
  background-color: coral;
  color: lime;
  transform: scale(1.2);
  transition-duration: 0.7s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn3 {
  background-color: aqua;
  color: blue;
}

.btn3:hover {
  transform: rotate(5deg);
  background-color: blue;
  color: aqua;
  transition-duration: 0.7s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
