:root {
  --color-taupe: #fdc98a;
  --color-grey: #606060;
  --color-green: #c2c57e;
  --padding-xs: 0.25em;
  --padding-s: 0.5em;
  --padding-l: 1em;
  --padding-xl: 2em;
}

/*RESET*/

.reset-ul {
  padding: 0;
}

.reset-li {
  list-style: none;
}

/* BODY */

body {
  font-family: "roboto";
}

/* FLEX */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.stretch {
  align-items: stretch;
  justify-content: center;
}

/* BACKGROUND */

.bg-head {
  background-image: url(./images/background_head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 365px;
}

.bg-nav {
  background-color: var(--color-taupe);
}

.bg-main {
  background-color: var(--color-grey);
}

.bg-glass {
  background-color: var(--color-grey);
}

.bg-soup {
  background-image: url(./images/soupe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-salad {
  background-image: url(./images/légumes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-dessert {
  background-image: url(./images/dessert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* INPUT */

.search {
  border: 1px solid var(--color-grey);
  background-color: var(--color-taupe);
  max-width: 250px;
  min-width: 250px;
}

/* PICTURES */

.glass {
  width: 44px;
  height: 44px;
}

.pics-m {
  min-width: 300px;
  min-height: 250px;
}

/* CONTAIN */

.contain-l {
  padding: var(--padding-l);
}

.contain-xl {
  padding: var(--padding-xl);
}

/* PADDING */

.pad {
  padding: 0 30%;
}

/* RELATIVE ABSOLUTE */

.blockr {
  position: relative;
}

.blocka {
  position: absolute;
}

/* TYPOGRAPHIE */

.typo-grey {
  color: var(--color-grey);
}

.typo-taupe {
  color: var(--color-taupe);
}

/* BORDER */

.border {
  border-top: var(--color-taupe) 1px solid;
  border-bottom: var(--color-taupe) 1px solid;
}
