:root {
  --color-taupe: #fdc98a;
  --color-grey: #606060;
  --color-green: #c2c57e;
  --padding-xs: 0.5em;
  --padding-s: 1em;
  --padding-l: 2em;
  --padding-xl: 4em;
}

/*RESET*/

.reset-ul {
  padding: 0;
}

.reset-li {
  list-style: none;
}

/* BODY */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FLEX */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.flex-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BACKGROUND */

.bg-head {
  background-image: url(./images/background_head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 365px;
}

.bg-nav {
  background-color: var(--color-taupe);
}

/* INPUT */

.search {
  border: 1px solid var(--color-grey);
  background-color: var(--color-taupe);
}

/* PICTURES */

.glass {
  width: 20px;
  height: 20px;
  background-color: var(--color-grey);
}

/* CONTAIN */

.contain-xl {
  padding: var(--padding-xl);
}

.contain-l {
  padding: var(--padding-l);
}

/* RELATIVE ABSOLUTE */

.blockr {
  position: relative;
}

.blocka {
  position: absolute;
  margin: 0 auto;
  width: auto;
}

/* TYPOGRAPHIE */

.typo-grey {
  color: var(--color-grey);
}
