:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --duree-transition: 0.3s;
  --effet-transition: ease-in-out;
  --echelle-hover: 1.05;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.116);
  font-weight: bold;
  color: #3c97da;
  padding: 1em;
}

.containul {
  padding: 0;
  gap: 1em;
  display: flex;
  list-style: none;
}

.containhead {
  text-decoration: inherit;
  color: #3c97da;
}

.title-principal {
  font-weight: bold;
  color: #3c97da;
}

.contain {
  text-align: center;
  padding-top: 4em;
  line-height: 3em;
}

.contain p {
  color: rgb(109, 107, 107);
}

main {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.116);
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  padding: 6em 0;
}

.box {
  width: 20vw;
  height: 20vh;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.116);
}

@media (prefers-color-scheme: dark) {
  :root {
    --couleur-texte: #fff;
    --couleur-fond: #222;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --couleur-fond: #ffffff;
    background-color: var(--couleur-fond);
    transition: background-color 0.3s;
  }
}
