:root {
  --color-texte: #161616;
  --color-fond: #ffffff;
  --color-box: rgb(255, 255, 255);
  --color-nav: #3c97da;
  --color-p: rgb(109, 107, 107);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-fond);
  color: var(--color-texte);
  transition: ease 1.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.116);
  font-weight: bold;
  color: #3c97da;
  padding: 1em;
}

.containhead {
  text-decoration: inherit;
  color: #3c97da;
}

.containul {
  padding: 0;
  gap: 1em;
  display: flex;
  list-style: none;
}

.containa {
  text-decoration: none;
  color: var(--color-nav);
}

.contain {
  text-align: center;
  padding-top: 4em;
  line-height: 3em;
}

.contain p {
  color: var(--color-p);
}

main {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.116);
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  padding: 6em 0;
}

.flexbox h2 {
  color: var(--color-nav);
}

.box {
  border-radius: 1em;
  padding: 1em;
  width: 25vw;
  height: 25vh;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.116);
  background-color: var(--color-box);
  color: var(--color-texte);
}

.darkmode {
  --color-texte: #ffffff;
  --color-fond: rgb(48, 48, 48);
  --color-box: rgb(66, 66, 66);
  --color-nav: #3c97da;
  --color-p: rgb(109, 107, 107);
}
