body {
    display: flex; 
    flex-wrap: wrap;
    
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

} 

.cards {
    width: 300px;
    height: 350px;
    border: 2px black solid;
    color: red;
}