.backgroundform {
  background-color: rgba(255, 255, 255, 0.432);
  margin: 5% 30% 5% 30%;
  padding: 1em 0.5em 1em 0.5em;
  height: min-100vh;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(83, 81, 81);
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label, {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  line-height: 3em;
}

p {
    text-transform: lowercase;
    opacity: 0.33;
}

.widinput {
    width: 100%;
     
}

.a {
display: inline-block;
}

input {
    border: rgb(255, 136, 0),solid,0.5px;
}










<label for="genre">Genre</label>
        <input type="radio" name="gender" value="male">
        <label>Homme</label>
        <input type="radio" name="gender" value="female">
        <label>Femme</label>
        <input type="radio" name="gender" value="other">
        <label>Autre</label>