:root {
    --color-header-pri: black;
    --color-header-sec:#525125;
    --color-textheader: white;
    --color-text-primary:white;
    --color-text-secondary:black;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.flexul{
    display: flex;
    flex-wrap: wrap;
   gap: 2em;
}

.resetul {
    list-style: none;
    padding: 0;
}

.textul {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-textheader);

}

.bghead {
background: linear-gradient(to right,var(--color-header-pri),var(--color-header-sec));
}

.gridmain {
    display: grid;
    grid-template-areas:
    "sec-hura sec-hura sec-hura"
    "sec-urus sec-urus sec-urus"
    "img1 img2 img3"
    "img4 img5 img6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5em;

}

.container-pos{
    position: relative;
}

.card {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
}

.textcard {
    color: var(--color-text-primary);
 }
 
 .textcard-sec {
     color: var(--color-text-secondary);
 }

.urus-area {
    grid-area: sec-urus;
} 

.hura-area {
    grid-area: sec-hura;
}

.img1-area {
    grid-area: img1;
}

.img2-area {
    grid-area: img2;
}

.img3-area {
    grid-area: img3;
}

.img4-area {
    grid-area: img4;
}

.img5-area {
    grid-area: img5;
}

.img6-area {
    grid-area: img6;
}