/*STRUCTURES*/

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-darkblue: #121f23;
  --color-lightblue: #5294a8;
  --color-darkblack: #0e0e0e;
  --color-blue: #0f3d57;
}

body {
  font-family: "Outfit";
  color: var(--color-white);
}

/*BACKGROUND*/

.bg-head {
  background: linear-gradient(
    to bottom,
    var(--color-darkblack),
    var(--color-darkblue)
  );
  /* background-image: url(./images/Galaxy.jpg);
  background-position: bottom; */
}

.bg-main {
  background-color: var(--color-darkblue);
  height: 100vw;
}

.logo-head {
  max-width: 100px;
  max-height: 100px;
  filter: blur(1);
}

/*DISPLAY*/

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

/*PADDING ... */

.marg {
  margin: 1.5em;
}

.gap {
  gap: 1.5em;
}

.pad {
  padding: 1.5em;
}

.flex-beetwen {
  justify-content: space-between;
}

/*RESET*/

.reset-li {
  list-style: none;
}

.reset-ul {
  padding: 0;
}

/*TYPOGRAPHIE*/

.fs-m {
  font-size: 18px;
}

/*HOVER*/

li {
  transition: 0.3s ease;
  cursor: pointer;
}

li:hover {
  color: var(--color-lightblue);
}

/* .logo {
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
} */

/* GRID */

.grid {
  display: grid;
  max-height: 100vh;
  grid-template-areas:
    "profil profil competence diplome"
    "profil profil competence experience"
    "contact creation loisir";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* ANIMATION */

.pulse {
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}