/*RACINE*/

:root {
  --color-grey: #606060;
  --color-greywhite: #bebebe;
  --color-taupe: #cca57c;
  --color-greyblack: #272727;
  --color-white: white;
  --color-black: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* BACKGROUND*/

.bg-head {
  background-image: url(./image/bg_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-logo {
  background-image: url(./image/logo_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 70px;
  transition: ease 0.3s;
}

.bg-logo:hover {
  background-image: url(./image/logo_hover.png);
}

.bg-greyblack {
  background-color: var(--color-greyblack);
}

.bg-main {
  background-color: var(--color-grey);
}

.bg-taupe {
  background-color: var(--color-taupe);
}

.bg-foot {
  background-image: url(./image/bg_footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-form {
  color: var(--color-white);
  background-color: var(--color-black);
  min-width: 375px;
  min-height: 313px;
}

.bg-input {
  background-color: var(--color-black);
}
/*RESET*/

.reset-li {
  list-style: none;
}

.reset-ul {
  padding: 0;
}

/*FLEX*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flex-head {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 4em 0;
  align-items: end;
}

.flex-main {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flex-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.flex-foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
/* PADDING */

.pad-top {
  padding-top: 2em;
}

.marg-text {
  margin-top: 2em;
}

.pad-left {
  padding-left: 2em;
}

.marg {
  margin: 2em;
}

.pad-bottom {
  padding-bottom: 2em;
}

.pad-main {
  padding: 0 15%;
}

.pad-section {
  padding: 0 250px;
}

.pad {
  padding: 2em;
}

.pad-side {
  padding: 0 2em;
}
/* TYPOGRAPHIE */

.typo {
  font-family: "roboto";
}

.bold {
  font-weight: bold;
}

.FS-nav {
  font-size: 24px;
}
.FS-titre {
  font-size: 58px;
}
.FS-text {
  font-size: 20px;
}

.text-white {
  color: var(--color-white);
}

.text-grey {
  color: var(--color-grey);
}

.text-taupe {
  color: var(--color-taupe);
}

.text-greywhite {
  color: var(--color-greywhite);
}

.text-right {
  text-align: right;
}
/*BUTTON*/

.btn-head {
  display: inline-block;
  max-width: 10em;
  color: var(--color-white);
  background-color: var(--color-taupe);
  padding: 0.25em 1em;
  border-radius: 3em;
  border: none;
  font-size: 18px;
}

.btn-head::after {
  content: "→";
}

.btn {
  display: inline-block;
  padding: 0.25 1em;
  font-size: 18px;
}

.btn::after {
  content: "→";
}

.date {
  display: inline-block;
  padding: 0.25em 1em;
  font-size: 18px;
}

.btn-taupe {
  color: var(--color-white);
  background-color: var(--color-taupe);
}

.btn-greyblack {
  color: var(--color-white);
  background-color: var(--color-greyblack);
}

.b-more {
  display: inline-block;
  font-size: 18px;
  padding: 0.25em 3em;
}

.more-grey {
  color: var(--color-taupe);
  background-color: var(--color-grey);
  text-align: end;
  transition: ease 0.3s;
}

.more-grey:hover {
  color: var(--color-black);
  background-color: var(--color-taupe);
}

.btn-foot {
  display: inline-block;
  max-width: 10em;
  border-radius: 5px;
  padding: 0.25 1em;
  font-size: 18px;
}

.btn-foot::after {
  content: "→";
}
/* PICTURES */

.pictures {
  min-width: 220px;
  min-height: 295px;
}

.pict-m {
  min-width: 290px;
  min-height: 434px;
}

.logo-m {
  min-width: 160px;
  min-height: 145px;
}

.logo-s {
  min-width: 100px;
  min-height: 102px;
}

.pict-l {
  min-width: 387px;
  min-height: 260px;
}

.pict-foot {
  min-width: 375px;
  min-height: 313px;
}
/* BORDER*/

.border-text {
  border-left: var(--color-taupe) solid 3px;
}

.border-pictures {
  padding: 1em 0;
  border-top: var(--color-taupe) solid 3px;
  border-bottom: var(--color-taupe) solid 3px;
}

.border-form {
  border-bottom: var(--color-white) 1px solid;
  border-left: var(--color-black) 3px solid;
  border-top: var(--color-black) 3px solid;
  border-right: var(--color-black) 3px solid;
}

/* POSITION */

.blockr {
  display: block;
  position: relative;
}

.blocka {
  display: block;
  position: absolute;
}

.position {
  bottom: -15px;
  left: 15px;
}

.pos-btn {
  bottom: 15px;
  left: 15px;
}

.pos-h {
  top: 15px;
  left: 15px;
}

/*HOVER*/

.tab {
  transition: ease 0.3s;
}
.tab:hover {
  bottom: 2px;
  text-decoration: underline var(--color-taupe);
  text-underline-position: under;
  color: var(--color-taupe);
  opacity: 0.9;
}

/*INPUT*/

.input::placeholder {
  color: var(--color-white);
  font-weight: bold;
}

input {
  list-style: none;
}
