/*RACINE*/

:root {
  --color-grey: #606060;
  --color-greywhite: #bebebe;
  --color-taupe: #cca57c;
  --color-greyblack: #272727;
  --color-white: white;
  --color-black: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* BACKGROUND*/

.bg-head {
  background-image: url(./image/bg_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-greyblack {
  background-color: var(--color-greyblack);
}

.bg-main {
  background-color: var(--color-grey);
}

.bg-taupe {
  background-color: var(--color-taupe);
}
/*RESET*/

.reset-li {
  list-style: none;
}

.reset-ul {
  padding: 0;
}

/*FLEX*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flex-head {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 4em 0;
  align-items: end;
}

.flex-main {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flex-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PADDING */

.pad-text {
  padding-top: 2em;
}

.marg-text {
  margin-top: 2em;
}

.pad-left {
  padding-left: 2em;
}

.marg {
  margin: 2em;
}

.pad-bottom {
  padding-bottom: 2em;
}

.pad-main {
  padding: 0 15%;
}
/* TYPOGRAPHIE */

.typo {
  font-family: "roboto";
}

.bold {
  font-weight: bold;
}

.FS-nav {
  font-size: 24px;
}
.FS-titre {
  font-size: 58px;
}
.FS-text {
  font-size: 20px;
}

.text-white {
  color: var(--color-white);
}

.text-grey {
  color: var(--color-grey);
}

.text-taupe {
  color: var(--color-taupe);
}

.text-greywhite {
  color: var(--color-greywhite);
}

/*BUTTON*/

.btn-head {
  display: inline-block;
  max-width: 10em;
  color: var(--color-white);
  background-color: var(--color-taupe);
  padding: 0.25em 1em;
  border-radius: 3em;
  border: none;
  font-size: 18px;
}

.btn-head::after {
  content: "→";
}

.btn {
  display: inline-block;
  padding: 0.25 1em;
  font-size: 18px;
}

.btn::after {
  content: "→";
}

.date {
  display: inline-block;
  padding: 0.25em 1em;
  font-size: 18px;
}

.btn-taupe {
  color: var(--color-white);
  background-color: var(--color-taupe);
}

.btn-greyblack {
  color: var(--color-white);
  background-color: var(--color-greyblack);
}

/* PICTURES */

.pictures {
  min-width: 220px;
  min-height: 295px;
}

/* BORDER*/

.border-text {
  border-left: var(--color-taupe) solid 3px;
}

.border-pictures {
  border-top: var(--color-taupe) solid 3px;
  border-bottom: var(--color-taupe) solid 3px;
}

/* POSITION */

.blockr {
  display: block;
  position: relative;
}

.blocka {
  display: block;
  position: absolute;
}

.position {
  bottom: 0px;
  left: 15px;
}

.pos-btn {
  bottom: 15px;
  left: 15px;
}

.pos-h {
  top: 15px;
  left: 15px;
}
