

body {
    background-image: url("/images/galaxy_2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100;
    background-size: cover;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 3px 3px 4px black;

}
h2, p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: azure;
}


.background_section {
    padding: 1%;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
}

.background_footer {
    padding: 1%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.582);
}




    